* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
  background: rgb(207, 160, 240);;
}

body main {
  display: flex;
  justify-content: center;

  padding: 20px;
}

body main .container {
  
  width: 1024px;
  min-height: 400px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px 20px 40px 20px;


  color: #5C8599;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.4rem;
  color: #FFF;
  text-decoration: none;
}

.btn-primary {
  background: #2b57b6;
  font-weight: bold;
}

.btn-primary:hover {
  background: #3766ce;
}

.btn-success {
  background: rgb(87, 192, 73);
  border: 0;
}

.btn-success:hover {
  background: rgb(100, 216, 85);
}

.btn-danger {
  background: rgb(180, 47, 37);
  border: 0;
}

.btn-danger:hover {
  background: rgb(207, 58, 47);
}

.btn-search {
  background: rgb(116, 116, 113);
  border: 0;
}

.btn-search:hover {
  background: rgb(153, 153, 151);
}

.td-center {
  text-align: center;
}