aside {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #7B18C1;
  height: 60px;
  padding: 0px 20px;
  box-shadow: 10px 17px 30px rgba(114, 9, 117, 0.16);
}

aside .title-menu {
  text-transform: uppercase;
  font-weight: 900;
  padding-left: 110px;
}

aside .container-menus {
  display: flex;
  
  height: 100%;
}



aside .container-menus div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0px 10px;
}

aside .container-menus div.active {
  background: #951ee9;
}

aside .container-menus div:hover {
  background: #951ee9;
}

aside .container-menus div button {
  
  font-weight: 900;
  color: #FFF;
  font-size: 0.8rem;
  background: transparent;
  border: 0;
}

aside .container-menus div button:hover {
  cursor: pointer;
}

aside .goback button {
  border: 0;
  border-radius: 17px;
  padding: 6px 5px 4px 5px;
  background: #7B18C1;
}

aside .goback button:hover {
  background: #951ee9;
}

.container-user {
  display: flex;
  flex-direction: column;
  text-transform:capitalize;
}