.container-signup {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  
  background: rgb(207, 160, 240);
  height: auto;
  padding: 20px;

}

.container-signup .container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 40%;
  max-width: 50%;
}

.container-signup .container-form img {
  width: 40%;
}

.container-signup .container-form form {
  min-width: 100%;
  background: #EEE;
  margin: 20px;
  padding: 20px;
  border: 0;
  border-radius: 1.5rem;
}

.container-signup .container-form form fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
}

.container-signup .container-form form fieldset h3 {
  color: #555;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.container-signup .container-form form fieldset label {
  color: #777;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.container-signup .container-form form fieldset input {
  border-radius: 0.5rem;
  border: 1px solid #CCC;
  line-height: 2.3rem;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.container-signup .container-form form fieldset button {
  color: #FFF;
  border: 0;
  background: #53b651;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.2s;
}

.container-signup .container-form form fieldset button:hover {
  background: #63ce61;
}
