.actions h3 {
  color: #555;
  margin-bottom: 10px;
  font-weight: bold;
}

.actions .new {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.actions .new .search {
  display: flex;
  text-align: center;
}

.actions .new .search input {
  border-radius: 0.5rem;
  border: 1px solid #CCC;
  line-height: 1.0rem;
  padding: 0px 10px 0px 10px;
  margin-right: 10px;
}

table {
  color: #444;
  margin-top: 20px;
}

table thead tr th {
  background: #DDD;
  padding: 5px;
  text-align: left;
}

table tbody tr:nth-child(even) {
  background-color: #E1E1E1;
}

table tbody tr:hover {
  background-color: #DDD;
}

table tbody tr td {
  padding: 5px;
}

